// material.io - Pink 900
$primary: #880e4f;
$primary-light: #bc477b;
$primary-dark: #560027;

// material.io - Teal 500
$secondary: #009688;
$secondary-light: #52c7b8;
$secondary-dark: #00675b;

// material.io - Grey 400
$disabled: #bdbdbd;
$disabled-light: #efefef;
$disabled-dark: #8d8d8d;

// Foreground
$foreground-light: #ffffff;
$foreground-dark: #ffffff;

// material.io - Pink 200
$women: #f48fb1;
$women-light: #ffc1e3;
$women-dark: #bf5f82;

// material.io - Blue 200
$men: #90caf9;
$men-light: #c3fdff;
$men-dark: #5d99c6;

// CSS - Gold
$marriage: #e8b923;